
a {
	color: #A0A0A0;
	text-decoration: none
}
body {
	font-family: verdana;
	text-align: justify;
	color: white;
	background-color: black
}
div.c {
	margin: auto;
	width: 95%
}
img {
	display: block;
	margin: auto
}
p.i img { display: inline }
h3.c { margin-bottom: 5px; }
h4 { margin-bottom: 5px; }
td { vertical-align: top }
th { text-align: left }