
a { color: red }
body {
	font-family: verdana;
	text-align: justify;
	color: white;
	background-color: black
}
div.c {
	margin: auto;
	width: 95%
}
span {
	text-align: right;
	display: inline-block;
	width: 10%;
	padding-right: 20px
}